[submodule "vim"]
	path = vim
	url = https://github.com/njbair/vim.git
[submodule "bash"]
	path = bash
	url = https://github.com/njbair/bash.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/njbair/oh-my-zsh.git
[submodule "irssi"]
	path = irssi
	url = https://github.com/njbair/irssi-config.git
[submodule "solarized"]
	path = colors/solarized
	url = https://github.com/altercation/solarized.git
[submodule "dircolors-solarized"]
	path = colors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "mc"]
	path = colors/mc
	url = https://github.com/peel/mc.git
